* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #C1E5FB;
    color: #042C8F;
    padding: 20px;
}

h1 {
    color: #042C8F;
    margin-bottom: 20px;
}

h2 {
    color: #4891E7;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #042C8F; 
}

input, select, textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #86D0FD;
    border-radius: 5px;
    font-size: 16px;
    background-color: #ffffff;
    color: #042C8F;
}

button {
    background-color: #4891E7; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #BBE11A;
}

a {
    color: #86D0FD;
    text-decoration: none;
}

a:hover {
    color: #4891E7;
}

#mensaje {
    margin-top: 15px;
    font-weight: bold;
    color: #042C8F;
    background-color: #E8F957;
    padding: 8px;
    border-radius: 5px;
}


.vacante {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(4, 44, 143, 0.1);
    max-width: 500px;
    border-left: 5px solid #4891E7;
}
